<div class="main panel panel-default z-depth-4">
    <div class="panel-body">

        <div class="media">
            <div class="media-left rounded-xl">
                <img src="https://mms.businesswire.com/media/20190122005910/en/701785/5/Camila-x-MC.jpg"
                    class="media-object circle">
            </div>
            <div class="media-body">
                <div class="media-settings">
                    <p>Neo Motto </p>
                <span><i class="fa fa-ellipsis-h right "></i></span>
                </div>
                
            </div>
        </div>

        <div class="post">

            <img class="not"
                src="https://media2.s-nbcnews.com/j/newscms/2019_16/2822711/ss-190415-notre-dame-fire-mn-04_96c827a9102e4af198aa42513fd02e74.fit-760w.jpg">
            <p class="iconsec"><i class="fa fa-heart-o"></i>   <i class="fa fa-share"></i> <span class="right"><b>4
                        likes</b></span></p>
            
        </div>

        <center><a href="#" class="btn" id="open"><i class="fa "></i>DELETE</a></center>

    </div>
</div>